body{
    font-family: "Ubuntu";
}

h1, h2, h3{
    font-family: "Montserrat";
    line-height: 1.5;
}

h1{
    font-size: 4rem;
    color: aliceblue;
}
h2{
    font-size: 3rem;
}

/* Heading */
.big-heading{
    font-size: 4rem;
    color: aliceblue;
}

/* Title */
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding:3% 15% 0 15%;
}
.title-img{
    width: 60%;
    transform: rotate(25deg); 
    position: absolute;
}

/* Features */
#features{
    padding-bottom: 7%;
    background-color: #fff;
    position: relative;
}
#features p{
    padding: 4%;
    margin: 0 10%;
    font-size: 1rem;
    color: #8f8f8f;
}
.featured-item{
    text-align: center;
}

.featured-icon{
    color:#ef8172;
    margin: 5%;
}
.featured-icon:hover{
    color:#ff4c68;
    margin: 5%;
}

/* Buttons */
.download-button{
    margin: 5% 3% 5% 0;    
}

/* Navigation bar */
.navbar{
    padding: 0 0 5rem 0;
    
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 16px;
}
.nav-link{
    font-size: 1.5rem;
}

/* Testomoniels */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}
.testimonial-text{
    font-size: 3rem;
    color: aliceblue;
}
.carousel-item{
    padding: 7% 15%;
}

/* Press */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-img{
    width: 10%;
    padding: 0% 2%;
}

/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}
#cta h3{
    font-size: 4rem;
}
#cta .btn{
    margin: 3% 1%;
}

/* Footer */
#footer{
    text-align: center;
}
.footer-btn{
    margin:2rem 0.5rem;
}


@media (max-width:990px) {
    h1, h2, h3{
        font-family: "Montserrat";
        line-height: 1.5;
    }

    h1{
        font-size: 3rem;
        color: aliceblue;
    }
    h2{
        font-size: 2rem;
    }
    .testimonial-text{
        font-size: 2rem;
        color: aliceblue;
    }
    .title-img{
        width: 60%;
        transform: rotate(0deg); 
        position: static;
        padding-bottom: 5%;
    }
    .title-row {
        text-align: center;
    }

    #cta h3{
        font-size: 2rem;

    }
}
@media (max-width:600px) {
    h1, h2, h3{
        font-family: "Montserrat";
        line-height: 1.5;
    }
    h1{
        font-size: 2rem;
        color: aliceblue;
    }
    h2{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .testimonial-text{
        font-size: 1.5rem;
        color: aliceblue;
    }
    .title-img{
        width: 60%;
        transform: rotate(0deg); 
        position: static;
        padding-bottom: 5%;
    }
    .title-row {
        text-align: center;
    }

    #cta h3{
        font-size: 1.5rem;
    }
}
